:root {
    --primary-color: #4a90e2; /* Blue for primary elements */
    --secondary-color: #d0021b; /* Red for secondary elements */
    --accent-color: #f5f5f5; /* Light grey for backgrounds */
    --text-color: #333333; /* Dark grey for text */
    --background-color: #f0f0f0; /* Very light grey for main background */
    --link-hover-bg-color: #d0021b; /* Red on hover for links */
    --link-hover-color: #ffffff; /* White text on hover for links */
    --nav-link-bg-color: #4a90e2; /* Slightly different blue for nav links */
    --nav-link-text-color: #ffffff; /* White text for nav links */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

body::before {
    background-color: var(--primary-color);
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    background-color: transparent;
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr 50px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.container > * {
    background-color: var(--accent-color);
    padding: 20px;
    border-radius: 8px;
}

.header {
    grid-area: header;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px 0;
    position: sticky;
    top: 0;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
    color: var(--text-color);
}

.footer {
    grid-area: footer;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
}

nav {
    grid-area: nav;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    background-color: var(--nav-link-bg-color);
    color: var(--nav-link-text-color);
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    border-radius: 20px;
}

nav ul li a:hover {
    background-color: var(--link-hover-bg-color);
    color: var(--link-hover-color);
    transform: scale(1.1);
    cursor: pointer;
}

ul ul {
    margin-left: 20px;
}


.logo {
    float: left;
}

.logo img {
    max-width: 150px;
    margin: 10px;
}

h1, h2, h3 {
    text-align: center;
    color: var(--primary-color);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 90%;
    background-color: var(--background-color);
}

table th, table td {
    padding: 15px;
    border: 1px solid #ddd;
}

table th {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
}

.aside {
    grid-area: aside;
    background-color: var(--accent-color);
    border-radius: 8px;
    padding: 20px;
}

.content {
    grid-area: main;
    min-height: 700px;
}

#main-img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}

#watermark {
    overflow: visible;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 0.3;
    font-size: 5em;
    color: var(--primary-color);
    pointer-events: none; 
    z-index: 999;
}

.aside ul {
    list-style-type: none;
    text-align: center;
    background-color: var(--accent-color);
    border-radius: 10px;
}

.aside ul li {
    margin: 20px 0;
}

.aside ul li a {
    display: inline;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    border-radius: 4px;
    background-color: transparent;
}

.aside ul li a:hover {
    padding: 15px 0px;
    background-color: var(--secondary-color);
    color: var(--link-hover-color);
    transform: scale(1.1);
    cursor: pointer;
    z-index: 1;
}

.page-top-facts, .city-facts {
    width: 90%;
    margin: 20px auto;
}