<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohio Info Site</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="watermark">Demo do not release</div>

    <div class="container">
        <header class="header" hx-get="./components/header.html" hx-trigger="load"></header>
        <aside class="aside" hx-get="./components/aside.html" hx-trigger="load"></aside>
        <!-- <main class="content" id="./main" hx-get="home" hx-push-url="/277/home"></main> -->
        <main class="content" id="main" hx-get="./home"></main>
        <footer class="footer" hx-get="./components/footer.html" hx-trigger="load"></footer>
    </div>

    <script src="./js/index.js"></script>
</body>

</html>