<div class="logo">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Seal_of_Ohio.svg/1200px-Seal_of_Ohio.svg.png"
        alt="picture the seal ohio">
</div>
<nav>
    <h1>Ohio Info Site</h1>
    <ul>
        <!-- <li><a hx-get="277/home" hx-target="main" hx-replace-url="/277">Home</a></li> -->
        <li><a hx-get="home.html" hx-target="main" hx-push-url="true">Home</a></li>
        <li><a hx-get="cincy.html" hx-target="#main" hx-push-url="true">Cincinnati</a></li>
        <li><a hx-get="cleveland.html" hx-target="#main" hx-push-url="true">Cleveland</a></li>
        <li><a hx-get="columbus.html" hx-target="#main" hx-push-url="true">Columbus</a></li>
        <li><a hx-get="contact.html" hx-target="#main" hx-push-url="true">Contact</a></li>
    </ul>
</nav>